# Ignore Gradle project-specific cache directory
.gradle
bin

# Ignore Gradle build output directory
build

# Ingore VS Code directories
.classpath
.vscode
.project
.settings

# Ignore IDEA specific files
*.iml
*.ipr
*.iws
